<div id="invite" ng-controller="InviteCtrl">
    <div id="invite-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Invite</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inviteUrl">URL</label>
                        <input type="text" class="form-control" id="inviteUrl" ng-model="url" />
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
