<div id="room">
    <div class="container" id="room-setup">
        <div class="row app-title">
            <div class="col-xs-12">
                <div class="poker-title">
                    Planning Poker
                </div>
                <div class="poker-subtitle">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <div class="room-setup">
                    <form ng-submit="join()">
                        <div class="room">
                            <div ng-show="noRoom">
                                <input type="text" ng-model="roomId" ng-change="changeRoom()" placeholder="Room" />
                            </div>
                            <div ng-show="!noRoom" class="room-info">
                                Joining: <span class="room-name" ng-click="noRoom = true" title="Click to Change" data-placement="right" tooltip>{{roomId}}</span>
                            </div>
                        </div>
                        <div class="name">
                            <input type="text" class="form-control" ng-model="username" ng-change="changeUsername()" placeholder="Your Name" />
                        </div>
                        <div class="spectator-mode text-right">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="spectator"> Spectator Mode
                                </label>
                            </div>
                        </div>
                        <div class="join-container">
                            <button type="submit" class="join{{!roomId ? ' disabled' : ''}}" ng-disabled="!roomId">Join</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="room-details">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-9">
                <div class="row topic-container">
                    <div class="col-xs-9">
                        <div class="topic" ng-show="!showEditTopic" ng-click="handleEditTopic(true)" title="Click to edit topic" tooltip>
                            <div class="topic-text">{{room.get('topic') ? room.get('topic') : 'Edit Topic...'}}</div>
                        </div>
                        <div class="topic" ng-show="showEditTopic">
                            <input id="input-topic" class="form-control" type="text" ng-model="room.details.topic" ng-change="editTopic()" ng-enter="handleEditTopic(false, true)" ng-blur="handleEditTopic(false)" placeholder="Edit Topic..." />
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div class="countdown-container">
                            <div ng-show="!editCountdown" class="timer-controls pull-right">
                                <span ng-click="triggerAlertSound = !triggerAlertSound" data-original-title="{{triggerAlertSound ? 'Mute Alert' : 'Unmute Alert'}}" tooltip>
                                    <i class="fa {{triggerAlertSound ? 'fa-bell' : 'fa-bell-slash'}} control icon-spacing show-icon-hover"></i>
                                </span>
                                <span ng-show="!timerRunning" ng-click="pauseTimer(false)" class="glyphicon glyphicon-play control" title="Start Timer" tooltip></span>
                                <span ng-show="timerRunning" ng-click="pauseTimer(true)" class="glyphicon glyphicon-pause control" title="Pause Timer" tooltip></span>
                            </div>
                            <timer ng-show="!editCountdown" ng-click="handleEditCountdown(true)" countdown="timerCountdown" interval="1000" autostart="false" class="countdown">
                                <span class="text-{{progressLevel}}" title="Click to edit timer" data-placement="left" tooltip>{{mminutes}}:{{sseconds}}</span>
                                <div class="progress">
                                    <div class="progress-bar {{progressLevel}}" style="width: {{progressBar}}%;"></div>
                                </div>
                            </timer>
                            <div class="countdown-edit" ng-show="editCountdown">
                                <input id="input-countdown" ng-model="customCountdown" ng-blur="handleEditCountdown(false)" class="form-control" type="text" placeholder="MM:SS" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="options">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="option topic-link pull-left">
                                        <a ng-href="https://sugarcrm.atlassian.net/browse/{{room.get('topic')}}" target="_blank">
                                            {{room.get('topicData').summary ? room.get('topicData').summary : ''}}
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div class="text-right">
                                        <div class="option" ng-show="room.get('activeVote')">
                                            <a ng-click="revealVote()">Reveal Results</a>
                                        </div>
                                        <div class="option">
                                            <a ng-click="getHistory()">History</a>
                                        </div>
                                        <div class="option">
                                            <a ng-click="inviteOthers()">Invite Others</a>
                                        </div>
                                        <div class="option">
                                            <a ng-click="resetVote()">Reset</a>
                                        </div>
                                        <div class="option" ng-show="!room.get('activeVote')">
                                            <a ng-click="startVote()">Call for Vote</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="history" ng-show="historyEnabled">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-repeat="session in history">
                            <div class="session">
                                <div class="topic">{{session.topic ? session.topic : 'Unknown'}}</div>
                                <div class="datetime">{{session.datetime}}</div>

                                <div class="votes">
                                    <div class="vote" ng-repeat="vote in session.users">
                                        {{vote.username}} - {{vote.vote}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="users" ng-show="!historyEnabled">
                    <div class="user-container{{user.get('socketId') == socketId ? ' local' : ''}}" ng-repeat="user in users">
                        <div class="flip-container{{(voteEnd && user.get('hasVoted')) || reveal ? ' flip' : ''}}">
                            <div class="flipper">
                                <div class="front{{user.get('socketId') == socketId ? ' local' : ''}}{{user.get('spectator') ? ' spectator' : ''}}" ng-click="editVote(user.get('socketId'))">
                                    <div ng-show="!user.get('hasVoted')">Poker</div>
                                    <div ng-show="user.get('hasVoted')" class="user-voted">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </div>
                                </div>
                                <div class="back">
                                    <div>{{user.get('vote')}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="video-container" ng-show="user.get('activeCall')">
                            <div ng-show="user.get('activeWebcam')">
                                <div class="local-video" ng-if="socketId === user.get('socketId')">
                                    <video class="mirror" id="video-local" autoplay muted></video>
                                </div>
                                <div class="remote-video" ng-if="socketId !== user.get('socketId')">
                                    <video id="video-{{user.get('socketId')}}" autoplay></video>
                                </div>
                            </div>
                            <div class="audio-call-container" ng-show="!user.get('activeWebcam')">
                                <i class="fa fa-user"></i>
                            </div>
                            <div class="user-info">
                                {{user.get('username')}}
                            </div>
                            <div class="user-muted" ng-show="user.get('muted')"></div>
                            <div class="video-option webcam" ng-click="toggleCall('end')">
                                <i class="fa fa-video-camera control"></i>
                            </div>
                            <div class="video-option microphone{{user.get('muted') ? ' muted' : ''}}" ng-click="toggleMicrophone()">
                                <i class="fa {{user.get('muted') ? 'fa-microphone-slash' : 'fa-microphone'}} control"></i>
                            </div>
                        </div>
                        <div class="user-details" ng-show="!user.get('activeCall')">
                            <div class="username" ng-show="!user.get('activeCall')" data-original-title="{{user.get('username')}}" tooltip>
                                {{user.get('username')}}
                            </div>
                            <div class="user-options">
                                <div class="option" ng-click="toggleCall('video')" title="Start Video Call" tooltip>
                                    <i class="fa fa-video-camera"></i>
                                </div>
                                <div class="option" ng-click="toggleCall('audio')" title="Start Audio Call" tooltip>
                                    <i class="fa fa-microphone"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div id="chat-width"></div>
                <div id="chat-container">
                    <div class="row" id="chat-row-pad">
                        <div class="col-xs-12" id="chat-col-pad">
                            <div class="messages">
                                <div class="chat" ng-repeat="chat in messages">
                                    <div class="username">{{chat.username}}</div>
                                    <div ng-if="!chat.html && !chat.report" class="message" ng-bind-html="chat.message | linky:'_blank'"></div>
                                    <div ng-if="chat.html && !chat.report" class="message" ng-bind-html="allowHtml(chat.message)"></div>
                                    <div ng-if="chat.report" class="message">
                                        <div ng-if="chat.isConsensus" class="text-success">
                                            <strong>CONSENSUS: {{chat.consensusVote}}</strong>
                                        </div>
                                        <table ng-if="!chat.isConsensus" class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td>Vote</td>
                                                    <td>Count</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(vote, count) in chat.report">
                                                    <td>{{vote}}</td>
                                                    <td>{{count}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="send-container">
                    <input ng-model="message" ng-enter="send()" type="text" class="form-control" placeholder="Enter Message..." />
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'partials/invite.html'"></div>

    <div id="vote-modal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Vote!</h4>
                </div>
                <div class="modal-body">
                    <div class="grouping">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(0)">0</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(0.5)">0.5</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(1)">1</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(2)">2</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(3)">3</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(5)">5</button>
                            </div>
                        </div>
                    </div>

                    <div class="grouping">
                        <div class="btn-group btn-group-justified" role="group" aria-label="...">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(8)">8</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(13)">13</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(21)">21</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(34)">34</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(55)">55</button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" ng-click="castVote(89)">89</button>
                            </div>
                        </div>
                    </div>
                    <div class="text-right grouping no-vote">
                        <span class="pull-left">Change your vote by clicking your poker card.</span>
                        <button type="button" class="btn btn-default" ng-click="castVote('unknown')" title="Unknown" data-placement="top" tooltip>
                            <i class="fa fa-question vote-unknown"></i>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="castVote('abstain')" title="Abstain" data-placement="top" tooltip>
                            <i class="fa fa-times vote-abstain"></i>
                        </button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="disconnect-overlay">
        <div class="banner">
            Disconnected
            <div class="subtitle">
                You've been disconnected from the room. Trying to reconnect...
            </div>
        </div>
    </div>

    <div id="viewport-setup">
        <div class="visible-xs"></div>
        <div class="visible-sm"></div>
        <div class="visible-md"></div>
        <div class="visible-lg"></div>
    </div>
</div>
